.read-container {
    max-width: 798px;
    margin: 0px auto;
    padding: 120px 40px;
    font-size: 25px;
    line-height: 1.5;
    box-sizing: border-box;
}

.read-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
    
    * {
        font-family: "Helvetica", sans-serif
    }

    h1 {
        font-size: 40px;
        font-weight: 500;
        text-align: center;
        line-height: 1.2;
        padding-bottom: 0.625em;
    }

    .meta {
        margin: 0 auto;
        display: flex;
        color: rgb(130, 130, 130);
        text-align: center;
        justify-content: center;
        font-weight: 300;
        font-size: 18px;
        line-height: 1;
        padding-bottom: 1em;

        * {
            padding: 0 3px;
        }
    }

    a {
        display: block;
        font-size: 18px;
        line-height: 1;
        padding-bottom: 0.75em;
        text-decoration: none;
        color: rgb(30, 171, 249);
    }
}


.read-body {
    * {
        font-family: "Georgia", "Times New Roman",
        Times,
        serif;
    }

    h1 {
        line-height: 1.3em;
        font-size: 1.4em;
        margin: 0px 0px 0.7em;
    }

    h2 {
        line-height: 1.3em;
        font-size: 1.4em;
        margin: 0px 0px 0.7em;
    }

    h3 {
        line-height: 1.3em;
        font-size: 1.3em;
        margin: 0px 0px 0.5em;
    }

    p {
        margin: 0px 0px 1em;
        text-align: left;
        font-size: 1em;
        line-height: 1.5;
    }

    blockquote {
        font-style: italic;
        display: block;
        margin: 1.5em 7%;

    }
    
    a {
        cursor: pointer;
        color: rgb(51, 51, 51);
        text-decoration: none;
        position: relative;
        text-shadow: rgb(255, 255, 255) -1px -1px 0px,
        rgb(255, 255, 255) 1px -1px 0px,
        rgb(255, 255, 255) -1px 1px 0px,
        rgb(255, 255, 255) 1px 1px 0px;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 1px, rgb(51, 51, 51) 1px, rgb(51, 51, 51) 2px, rgba(0, 0, 0, 0) 2px);
    }

    pre {
        display: block;
        margin: 15px -5%;
        padding: 10px;
        font-size: 0.8em;
        width: 110%;
        overflow: auto;
        background-color: rgb(242, 242, 242);
    }

    img {
        max-width: 100%;
        border-radius: 8px;
        margin: 0px auto;
        vertical-align: middle;
        text-align: center;
    }

    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        line-height: 1.5;
    }

    li {
        margin: 0px 0px 0.4em;
        text-align: left;
        display: list-item;
    }

    code {
        font-family: Menlo,
        Consolas,
        Roboto Mono,
        Ubuntu Monospace,
        Oxygen Mono,
        Liberation Mono,
        monospace;
        font-size: 1em;
    }

    figcaption {
        width: 100%;
        box-sizing: border-box;
        padding: 1.25em 0px 0px;
        font-size: 0.583em;
        line-height: 1.643;
        color: rgb(130, 130, 130);
    }
}
