.read-container {
    max-width: 798px;
    margin: 0px auto;
    padding: 120px 0px;
    font-size: 25px;
    font-family: Blanco;
    line-height: 1.5;
    box-sizing: border-box;
    p {
        margin: 20px 0;
    }
}

.read-header {

    h1 {
        font-size: 40px;
        font-weight: 500;
        text-align: center;
        line-height: 1.2;
        padding-bottom: 0.625em;
    }
}