.landing-main-container {
    display: block;
    height: 600px;
    background-color: $sky-blue;
    background-image: brightness(80%); 
    background: image-url('dancer.jpg') center no-repeat;
    background-size: cover;
}

.darken {
    display: block;
    background: rgba(0, 0, 0, 0.3);
}

.landing-panel {
    padding: 130px 0 160px 0;
    margin: 0 auto;
    max-width: 900px;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.landing-panel-content {
    display: flex;
    flex-direction: column;

    h2 {
        color: $white;
        max-width: 240px;
        font-size: 34px;
        line-height: 1.25;
        font-weight: normal;
    }

    .btn {
        box-sizing: border-box;
        height: 48px;
        width: 300px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        border-radius: 4px;
        max-width: 400px;
        &:hover {
            text-decoration: underline;
        }
    }

    .google {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        background-color: $google-blue;
        color: $white;
        padding: 0 20px;

        img {
            position: absolute;
            margin: 0 21px;
            width: 24px;
            height: 24px;
            left: 0px;
        }


    }
    
    .email {
        background-color: $white;
        color: $black;
    }

    .signin {
        color: white;
        display: flex;
        font-size: small;

        .link {
            margin: 0 4px 0 20px;
            text-decoration: underline;
        }
    }

    .terms {
        color: white;
        font-size: small;
        font-weight: lighter;
        max-width: 300px;
        line-height: 1.5em;
    }
}

.landing-panel-content > * {
    margin-bottom: 17px;
}


.landing-main-container-2 {
    display: block;
    height: 517px;
    background-color: $mid-grey;
}

.landing-panel-2 {
    max-width: 900px;
    padding: 70px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing-panel-content-2 {
    max-width: 300px;
    h2 {
        color: $off-black;
        max-width: 240px;
        font-size: 28px;
        line-height: 1.25;
        font-weight: bold;
        margin-bottom: 20px;
    }
    p {
        font-size: 16px;
        line-height: 1.75;
    }
}

.ipad {
    width: 530px;
    height: 380px;
    display: block;
    background: image-url('ipad.png') center no-repeat;
    background-size: 100%;
}


.landing-main-container-3 {
    display: block;
    height: 517px;
    background-color: $white;
}

.landing-panel-3 {
    max-width: 900px;
    padding: 70px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing-panel-content-3 {
    max-width: 300px;
    h2 {
        color: $off-black;
        max-width: 240px;
        font-size: 28px;
        line-height: 1.25;
        font-weight: bold;
        margin-bottom: 20px;
    }
    p {
        font-size: 16px;
        line-height: 1.75;
    }
}

.mac {
    width: 530px;
    height: 380px;
    display: block;
    background: image-url('mac.png') center no-repeat;
    background-size: 100%;
}

.landing-main-container-4 {
    display: block;
    height: 517px;
    background-color: $sky-blue;
    background: image-url('gardener.png') center no-repeat;
    background-size: cover;
}

.landing-panel-4 {
    
    padding: 190px 0 0 0;
    margin: 0 auto;
    max-width: 900px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-panel-content-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  h2 {
      color: $white;
      max-width: none;
      font-size: 30px;
      line-height: 1.25;
      margin-bottom: 22px;
      text-align: center;
  }

  .signup-btn {
      height: 48px;
      width: 126px;
      background-color: $sky-blue;
      color: $white;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      border-radius: 4px;
  }
}

.landing-main-container-5 {
    display: block;
    height: 417px;
    background-color: $deep-green;
    color: $white;
}

.landing-panel-5 {
    max-width: 900px;
    padding: 70px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;


}

// .landing-panel-content-5 {
//     max-width: 300px;
//     h2 {
//         max-width: 240px;
//         font-size: 32px;
//         line-height: 1.25;
//         font-weight: bold;
//         margin-bottom: 20px;
//     }
// }

.landing-panel-grid {
    box-sizing: border-box;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 250px auto 250px;
    justify-content: center;
    color: $white;
    width: 900px;
    height: 400px;
    padding: 80px 0;
}

.app-store {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .apple-store {
        display: block;
        width: 135px;
        height: 45px;
        background: image-url('icons/app_store.svg');
        margin: 10px 0;
    }
    
    .google-store {
        display: block;
        width: 135px;
        height: 40px;
        background: image-url('icons/google_play.svg');
        margin: 10px 0;
    }
}

.testimony {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid white;
    border-right: 1px solid white;

    h2 {
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        padding: 20px 50px;
    }

    .cite {
        display: flex;
        align-items: center;
        font-size: 18px;

        * {
            margin: 6px;
        }
    }
}

.award {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: -5px;
    }

    h3 {
        font-size: 18px;
        font-weight: lighter;
    }
}

// Media Queries
@media only screen and (max-width : 900px) {
    .landing-panel {
        justify-content: center;
    }
   
    .landing-panel-content {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .landing-main-container-2 {
        height: auto;
    }

    .landing-panel-2 {
        flex-direction: column;
        * {
            margin: 10px;
        }
    }

    .landing-main-container-3 {
        height: auto;
        padding: 20px 0;
    }

    .landing-panel-3 {
        flex-direction: column;
        * {
            margin: 10px;
        }
    }

    .landing-main-container-5 {
        height: 500px;
    }

    .landing-panel-5 {
        height: auto;
    }

    .landing-panel-grid {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 700px;
        padding: 20px 0;
    }

    .landing-panel-grid > * {
        border: none;
        padding: 20px 0;
    }

}