.nav-container {
    display: block;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
    border-bottom: 1px solid rgb(224, 224, 224);
    background-color: rgb(255, 255, 255);
}

.nav-content {
    box-sizing: border-box;
    height: 63px;
    max-width: 1290px;
    width: 100%;
    margin: 0px auto;
    padding: 0 40px;
    display: grid;
    grid-template-columns: 193px auto 193px;
    align-items: center;
}

.nav-logo {
    height: 25px;
    width: 100px;
}

.nav-tabs {
    display: flex;
}

.tab-container {
    box-sizing: border-box;
    display: block;
    height: 100%;
    padding: 0 24px;
    font-size: 14px;
    position: relative;
}

.active-tab::after {
    content: "";
    display: block;
    position: absolute;
    background-image: linear-gradient(90deg, rgb(131, 237, 184) 0%, rgb(131, 237, 184) 0%, rgb(131, 237, 184) 0.01%, rgb(80, 188, 182) 33.15%, rgb(239, 64, 86) 67.4%, rgb(252, 182, 67) 100%);
    border-radius: 3px 3px 0px 0px;
    width: 100%;
    height: 3px;
    top: 36px;
    left: 0px;
}

.nav-utils {
    display: flex;
}

.nav-util {
    display: block;
    position: relative;
    font-size: 14px;
    height: 100%;
    box-sizing: border-box;
    padding: 0 18px;
    cursor: pointer;
}

.profile-modal {
    position: absolute;
    display: none;
    box-sizing: border-box;
    z-index: 10;
    background-color: white;
    border-radius: 2px;
    padding: 8px 0;
    box-shadow: 1px 1px 8px 0px #aeaeae;
    width: 120px;
    top: 31px;
    right: 12px;
    font-size: 15px;
    color: $off-black;

    .modal-line {
        width: 100%;
        padding: 6px 0 6px 11px;
        cursor: pointer;

        * {
            padding-right: 10px;
        }
    }

    .modal-line:hover {
        color: rgb(17, 106, 101);
        background-color: rgba(28, 176, 168, 0.2);
    }

    .dropped {
        display: block;
    }
}

.nav-util:hover > .profile-modal {
    display: block;
}

.profile-hover-soln {
    position: absolute;
    width: 140px;
    height: 100px;
    top: -15px;
    left: -10px;
    z-index: -2;
}