.nav-container {
    display: block;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 2;
    border-bottom: 1px solid rgb(224, 224, 224);
    background-color: rgb(255, 255, 255);
}

.nav-content {
    box-sizing: border-box;
    height: 63px;
    max-width: 1290px;
    width: 100%;
    margin: 0px auto;
    padding: 0 40px;
    display: grid;
    grid-template-columns: 193px auto 193px;
    align-items: center;
}

.nav-logo {
    height: 25px;
    width: 100px;
}

.nav-tabs {
    display: flex;
}

.tab-container {
    box-sizing: border-box;
    display: block;
    height: 100%;
    padding: 0 24px;
    font-size: 14px;
    position: relative;
}

.active-tab::after {
    content: "";
    display: block;
    position: absolute;
    background-image: linear-gradient(90deg, rgb(131, 237, 184) 0%, rgb(131, 237, 184) 0%, rgb(131, 237, 184) 0.01%, rgb(80, 188, 182) 33.15%, rgb(239, 64, 86) 67.4%, rgb(252, 182, 67) 100%);
    border-radius: 3px 3px 0px 0px;
    width: 100%;
    height: 3px;
    top: 36px;
    left: 0px;
}

.nav-utils {
    display: flex;
}

.nav-util {
    display: block;
    font-size: 14px;
    height: 100%;
    box-sizing: border-box;
    padding: 0 18px;
    cursor: pointer;
}