.mobile-sidebar {
    position: absolute;
    // display: none;
    opacity: 0;
    height: 100%;
    display: block;
    overflow-y: auto;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    border: 2px solid blue;
    left: 0px;
    top: 64px;
}

.mobile-tabs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.mobile-tab {
    display: flex;
    align-items: center;
    height: 65px;
    width: 279px;
    padding: 0px 20px;
    margin: 20px 10px 0 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 14px;
    border-radius: 4px;
    color: rgb(79, 79, 79);
    * {
        padding-right: 10px;
    }
}

.active-mobile {
    color: rgb(17, 106, 101);
    background-color: rgba(28, 176, 168, 0.2);
}

// @media only screen and (max-width: 950px) {
//     .mobile-sidebar {
//         opacity: 1;
//         transition: width 0.2s ease,
//         opacity 0.5s ease;
//     }
// }

.mobile-hamburger {
    display: none;
}

@media only screen and (max-width: 950px) {
    #main {
        grid-template-columns: 1fr;
    }

    .hamburger-wrapper {
        display: flex;
        align-items: center;
    }

    .mobile-hamburger {
        display: inline-block;
        padding-top: 5px;
        padding-right: 10px;
        color:rgb(79, 79, 79);
        cursor: pointer;
        &:hover {
            color: black;
        }
    }

    .nav-tabs {
        display: none;
    }

    .nav-utils {
        grid-column-start: 3;
    }

    .sidebar-nav-container {
        display: none;
    }

    .mobile-mode {
        opacity: 1;
        transition: width 0.2s ease,
        opacity 0.5s ease;
    }
}