// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.session-container {
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
}

.session-content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.session-content > * {
    margin: 20px;
}

.session-errors {
    box-sizing: border-box;
    color: #c33;
    background-color: #ffe8e9;
    border-radius: 4px;
    padding: .5em .8em .45em;
    margin: 0 auto 1em;
}

.mac-img {
    display: block;
    width: 470px;
    height: 350px;
    background: image-url('mac.png') center no-repeat;
    background-size: 100%;
}

.mktg-img {
    box-sizing: border-box;
    display: block;
    width: 410px;
    height: 406px;
    background: image-url('mktg.png') center no-repeat;
    background-size: 100%;
    margin: 18px 15px 25px;
    padding-bottom: 10px;
}

.session-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid #dadada;
    padding: 1em 1em 1.5em;
    border-radius: 8px;

    width: 350px;

    input {
        display: block;
        height: 36px;
        border: 1px solid #b2b2b2;
        border-radius: 4px;
        margin: 8px auto;
        min-width: 13.375em;
        box-sizing: border-box;
        height: 36px;
        width: 100%;
        padding: .35em .5em;
    }
}

.submit-btn {
    box-sizing: border-box;
    height: 40px;
    width: 350px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    border-radius: 4px;
    max-width: 400px;
    background-color: $sky-blue;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px 0;

    &:hover {
        background: rgb(39, 127, 205);
    }
}

.submit-btn > input {
    border: none;
}

.demo-btn {
    box-sizing: border-box;
    height: 40px;
    width: 350px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    border-radius: 4px;
    max-width: 400px;
    background-color: $white;
    border: 1px solid #b2b2b2;
    color: rgb(103, 103, 103);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px 0 10px 0;
    cursor: pointer;

    &:hover {
        background: rgb(235, 235, 235);
    }
}

.switch-link {
    font-size: smaller;
    color: grey;
    &:hover {
        text-decoration: underline;
    }
}

// Media Queries
@media only screen and (max-width : 900px) {
    .session-content {
        flex-direction: column;
    }

    .mac-img {
        width: 280px;
        height: 208px;
    }

    .mktg-img {
        width: 330px;
        height: 327px;
    }
}