// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.session-container {
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    // box-shadow: 5px 0 0 0 rgba(0,0,0,.15);
}

.session-content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.session-content > * {
    margin: 20px;
}

.mac-img {
    display: block;
    width: 470px;
    height: 350px;
    background: image-url('mac.png') center no-repeat;
    background-size: 100%;
}

.signin-h3 {
    // margin: 10px 0 20px;
}

.session-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid #dadada;
    padding: 1em 1em 1.5em;
    border-radius: 8px;

    width: 350px;

    input {
        display: block;
        height: 36px;
        border: 1px solid #b2b2b2;
        border-radius: 4px;
        margin: 8px auto;
        min-width: 13.375em;
        box-sizing: border-box;
        height: 36px;
        width: 100%;
        padding: .35em .5em;
    }
}

.submit-btn {
    box-sizing: border-box;
    height: 40px;
    width: 350px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    border-radius: 4px;
    max-width: 400px;
    background-color: $sky-blue;
    // padding: 0 20px;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px 0 10px 0;

    &:hover {
        background: rgb(39, 127, 205);
    }
}

.switch-link {
    font-size: smaller;
    color: grey;
    &:hover {
        text-decoration: underline;
    }
}
