.sidebar-nav-container {
    padding: 40px 0;
}

.sidebar-btn {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    font-size: 16px;
    font-weight:400;
    line-height: 16px;
    height: 40px;
    border-radius: 4px;
    padding: 0px 20px;
    color: rgb(79, 79, 79);
}

.active-sidebar > div{
    color: rgb(17, 106, 101);
    background-color: rgba(28, 176, 168, 0.2);
}

.list-btn > * {
    margin-right: 8px;
}
.archive-btn {
    margin-left: 2px;
}
.archive-btn > * {
    margin-right: 10px;
}
.favorite-btn > * {
    margin-right: 6px;
}
.tag-btn > * {
    margin-right: 6px;
}

.filter-label {
    width: 100%;
    font-size: 16px;
    font-weight:500;
    border-radius: 4px;
    padding: 30px 0px 10px 20px;
    color: rgb(189, 189, 189);
}